<div class="container mt-3">
  <div class="row">
    <div class="col-md-7">
      <h1>Something</h1>
      <div class="card text-bg-secondary text-center w-75 mt-3">
        <div class="card-header">Features</div>
        <div class="card-body">
          <img class="card-img-top mb-3" src="img/contacts.jpg" alt="Card image cap" />
          <h4 class="card-title">Contact Management</h4>
          <p class="card-text">
            A simple contact management app that features CRUD function that allow you to store,
            edit, and delete contact informations.
          </p>
          <a href="/contact" class="btn btn-dark">Contact List</a>
        </div>
      </div>
    </div>
  </div>
</div>
